spring:
  security:
    oauth2:
      client:
        registration:
          github:
            client-id: Ov23liOabBV5haBkQBwI
            client-secret: b1ecff4825568c4d49c8e5fa0eddacbfde0a57d6
            scope: read:user, user:email
            client-name: GitHub
        provider:
          github:
            authorization-uri: https://github.com/login/oauth/authorize
            token-uri: https://github.com/login/oauth/access_token
            user-info-uri: https://api.github.com/user
            user-name-attribute: login	